@import "Theme.scss";

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
    overflow-y:visible;
    overflow-x: hidden;
    padding-bottom: 200px;
    .cards-catalog {
        background-color: $card_gray;
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 860px;
        padding: 20px;
        flex: 1;    
        flex-wrap: wrap;
    }
}
.cards-container::-webkit-scrollbar {
    width: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
}
.cards-container::-webkit-scrollbar-track {
    margin-bottom: 400px;
}

/*
* FIX
SCROLL OVERLAY OR OTHER TECHNIQUE,FOOTER HAS SPACE ON RIGHT SIDE
*/