@import "Theme.scss";

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 200px;
    .cards-catalog {
        background-color: $card_gray;
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 860px;
        padding: 20px;
        flex: 1;    
        flex-wrap: wrap;
    }
}
.cards-container::-webkit-scrollbar {
    display:block;
    background-color: $scrollbar;
    width: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
    border-radius: 20px 20px 20px 20px;
    height: 40vh;
}

/*
* PUT PADDING ON BOTTOM OF THE SCROLLBAR SO IT DOESNT GO
*/