@import "./Theme.scss";

.header {
    background-color: $darkblue;
    display: flex;
    font-family: "Roboto";
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 4px solid red;
    border-radius: 00px 0px 20px 20px;
    a{
        text-decoration: none;
        color: white;
    }
    .header-title{
    padding-left: 200px;
    font-weight: bold; 
    font-size: 30px;
    }
    .header-logo{
        padding-left:20px;
    }
    .header-search {
        padding-right: 10px;
    }

    .header-search-button {
        padding: 8px;
        margin-left: 5px;
        width: 50px;
    }
}