//navbar
$darkblue:#14213D;

//pokemon-card
$card_gray:#f2f2f2;
$card_darkgray:#858585;

//content
$background:#D9D9D9;
$dark_gray:#8585859a;
$scrollbar:$card_gray;
$scrollbar-thumb:red;

//pokemon-profile
$description-background:#2E86AB;

//footer
$footer-background:$darkblue;
$footer-font:#C1C1C1;